.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    margin: auto;
    }

    .Petya_Mihaylova_Profile_Picture {
       background-image: url(Petya_Mihaylova_Profile_Picture.jpg);
       width: 15rem ;
       height: 20rem;
       border-radius: 20%;
      
    }