/* ----Navbar Styling---- */

.navigation, .item {
    display: block;
    background-color: rgb(100, 96, 96);
    color: #eee;
    list-style: none;
}

.navigation ul li {
    margin: 0;
    padding: 0;
    
 }

 .navigation a {
    color:#eee;
    border-top: 1px solid rgb(244, 241, 241);
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
 }

 h1 {
    font-size: 1.5em;
    padding: 1em;
  }

 @media (min-width: 60em) {
    h1 {
      font-size: 2rem;
      font-style: italic;
    }
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;}

.navigation ul {
    display: flex;
    }

.navigation a {
    border-top: none;
}
  
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
.Profile_Picture {
    flex: 1;
    margin-right: 5%;
    
    }

.about_me {
    flex: 2;
    }

.container, .container ul, .container ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;

}


 }

  

/* ----Navbar Styling---- */



/* ----Main Styling---- */

html {
    font:
    1.2em Helvetica,
    Arial,
    sans-serif;
}

main {
    display: block;
}

body {
    margin: 20px;
    padding: 0;
    background-color: #eee;
  }

.wrapper {
    max-width: 960px;
    margin: 2em auto;
  }

.Profile_Picture,
.about_me {
    background-color: #fff;
  }


.Petya_Mihaylova_Profile_Picture {
   
    background-image: url(Petya_Mihaylova_Profile_Picture.jpg);
    width: 15rem ;
    height: 20rem;
    border-radius: 20%;
    max-width: 100%;
   
    }

.about_me {
    column-count: 2;
}

/* ----Page 2 Featured Projects Styles---- */

.container {
    display: block;
    max-width: 1300px;
    margin: 0;
}

.container li {
    margin: 0;
    padding: 0;
    display: block;
    color: #050505;
    list-style: none;
    
 }

.form_picture {
    float: left;
    width: 10em;
    height: 15em;
    padding-right: 0.3em;
    
}

.masonry_gallery_picture {
    float: left;
    width: 10em;
    height: 15em;
    padding-right: 0.3em;
    
}

.table_picture {
    float: left;
    width: 10em;
    height: 15em;
    padding-right: 0.3em;
    
}

.text {
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    min-width: 10em;

}

/* ----Contact Form View---- */


.flexbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.asterisk {
    color: red;
}

.submit {
    
    cursor: pointer;
    background-color: transparent;
    font-weight: normal;
    font-size: 1em; 
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(7, 7, 7);
    border: 2px solid black;
    transition: .4s;
        }
    
.submit:hover {
    background-color: transparent;
    box-shadow: 0 0 10px #424242;
    border: 2px solid #0c0c0c;
    cursor: pointer;
    }

/* ----Social Icons Styling---- */

/* .social ul, .social li {
list-style: none;
padding: 0;

}

.social ul {
    margin: auto;
} */

.social, .social ul, .social ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;}

.facebook-icon {
    background-image: url(facebook.svg);
}

.instagram-icon {
    background-image: url(square-instagram.svg);
}

.github-icon {
    background-image: url(github.svg);
}

.tiktok-icon {
    background-image: url(tiktok.svg);
}

.linkedin-icon {
    background-image: url(linkedin.svg);
}

.telegram-icon {
    background-image: url(telegram.svg);
}

.youtube-icon {
    background-image: url(youtube.svg);
}

.pinterest-icon {
    background-image: url(pinterest.svg);
}

.snapchat-icon {
    background-image: url(square-snapchat.svg);
}

.facebook-icon, .instagram-icon, .github-icon, .tiktok-icon, .linkedin-icon, .telegram-icon, .youtube-icon, .pinterest-icon, .snapchat-icon  {
    display: block;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;}

.icon-btn {
    
    transition: all .2s ease;}